aside {
    width: 50rem;
    padding: 0 15px;
    background-color: #242424;
    border-right: 3px solid #333;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    gap: 5%;
}